@media only screen and (max-width: 550px) {
  .kill-animation {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  #logo-outer {
    -webkit-transform: translate3d(-251.327412px, 0, 0) rotate(-360deg);
    -moz-transform: translate3d(-251.327412px, 0, 0) rotate(-360deg);
    -o-transform: translate3d(-251.327412px, 0, 0) rotate(-360deg);
    -ms-transform: translate3d(-251.327412px, 0, 0) rotate(-360deg);
    transform: translate3d(-251.327412px, 0, 0) rotate(-360deg);
  }
  p.desc {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  body {
    padding: 0;
    position: relative;
  }
  #top-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #top-header a svg {
    left: 22px;
  }
  #top-header h5 {
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 270px;
  }
  #top-header .inner {
    left: 56px;
    border-left: 1px solid rgba(0,0,0,0.10);
  }
  .no-touch .index header.identity-header {
    position: relative;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .index header.identity-header {
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    background: #fff;
    padding-top: 130px;
    width: 100%;
    height: 290px;
    z-index: 1;
  }
  .index header.identity-header .inner h1 {
    width: 100%;
    text-align: center;
  }
  .index header.identity-header .inner h1 #logo-outer {
    display: inline-block;
  }
  .index header.identity-header p.desc {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  #content {
    -webkit-transform-origin: 50% 50px;
    -moz-transform-origin: 50% 50px;
    -o-transform-origin: 50% 50px;
    -ms-transform-origin: 50% 50px;
    transform-origin: 50% 50px;
    padding: 0px;
    padding-top: 50px;
  }
  #content .fade-pane {
    display: none;
  }
  #content header {
    margin-bottom: 5px;
    border-bottom: none;
  }
  #content header h2 {
    margin-left: 0;
    margin-bottom: 0;
  }
  #content aside.meta {
    width: 100%;
    margin-bottom: 5px;
  }
  #content article.post {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #content .article-container {
    width: 100%;
    padding-left: 0;
    padding-bottom: 30px;
  }
  #content .article-container .body-text ul {
    padding-left: 15px;
  }
  #content footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #content .share .seduce-text {
    display: none;
  }
  #content .share svg {
    margin: 0 auto;
    float: none;
    display: block;
  }
  #content .share .social {
    margin-top: 10px;
    padding-bottom: 0;
    width: 234px;
    margin-left: 18px;
  }
  #content .share .social .f {
    width: 55px;
  }
  #main-footer {
    padding: 10px 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    text-align: center;
  }
  body.colophone p {
    margin-bottom: 5px;
  }
  body.colophone #content {
    margin-top: 50px;
  }
  body.colophone section {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  body.colophone section h5 {
    width: 100%;
    margin-bottom: 5px;
    font-family: initial;
    font-weight: initial;
    text-align: left;
  }
  body.colophone section .right {
    width: 100%;
  }
  body.four-oh-four h1 {
    margin: 0;
    width: 100%;
    margin-top: 60px;
    text-align: center;
  }
  body.four-oh-four #top-header {
    display: none;
  }
  body.four-oh-four .mobile-logo {
    text-align: center;
    display: block;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  .touch .mobile-logo,
  .no-touch .mobile-logo {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -webkit-animation: fade-scale-up 2s cubic-bezier(0.86, 0, 0.07, 1) both;
    -moz-animation: fade-scale-up 2s cubic-bezier(0.86, 0, 0.07, 1) both;
    animation: fade-scale-up 2s cubic-bezier(0.86, 0, 0.07, 1) both;
  }
}
/* Mobile */
