@import nib
@import '_utils'

//vendor-prefixes = webkit

left-width = 110px
logo-radius = 40

.no-amin  *
  animation-fill-mode backwards !important
  animation-delay 0 !important
  animation-duration .1s !important
  .fade-pane
    display none

:root
  font-size 12px

::selection
  background-color: hsl(200, 100%, 50%)
  color: white

body
  text-rendering optimizelegibility
  padding: 40px
  transition opacity .5s cubic-bezier(0.860, 0.000, 0.070, 1.000)

a
  color: hsl(200, 100%, 50%)
  font-weight bold

header
  clearfix()

  

#top-header
  position fixed
  top: -5px
  left: 0
  background: white
  border-bottom 3px solid hsla(0, 0%, 0%, 0.8)
  padding-top: 5px
  height 30px
  width: 100%
  z-index 10
  opacity 0
  overflow hidden
  transition opacity .2s
  box-shadow 0 5px 0 5px white

  animation pull-up .5s forwards cubic-bezier(0.860, 0.000, 0.070, 1.000)

  &.passed-logo
    animation pull-down .5s .25s both cubic-bezier(0.860, 0.000, 0.070, 1.000)

  &.passed-article
    h5
      transform translate3d(0, 0px,0)
  a
    svg
      position absolute
      left 73px
      top 13px

      rect
        fill black

  .inner
    position absolute
    top: 0
    left 0
    margin-left 160px
    height 100%
    box-sizing border-box
    padding-top 9px
    width 100%
  h5
    color: black
    font-size: 1.5em
    line-height 1.3em
    margin: 0
    display block
    float left
    margin-right 20px
    opacity 1
    transform translate3d(0, 50px, 0)
    transition .5s cubic-bezier(0.860, 0.000, 0.070, 1.000)

  ul
    margin 0
    padding 0
    display inline-block
    float left
    color white
    
  
header.identity-header

  h1
    width: left-width
    float: left

    #logo-outer
      height: 80px
      width: 80px
      display: block
      background: black
      animation: intro 2s .75s both
      position: relative
      border-radius: 40px

      svg
        position: absolute
        top: 33px
        left: 33px

  &.slide-up
    animation: slide-up .5s 1.5s both

p.desc
  margin-top: 55px
  font-family: monospace
  padding-left: 10px
  float: left
  color: hsl(44, 9%, 50%)
  animation fade-in .5s 2.5s both

.touch
  #content
    &.in
      transform-origin-y -100px
      animation fade-scale-up 1.5s 2.0s both cubic-bezier(0.860, 0.000, 0.070, 1.000)
    .fade-pane
      display none



#content
  max-width 570px
  text-shadow 0 1px 1px hsla(0, 0%, 100%, .3)
  padding-top 50px
  color hsl(0, 0%, 9%)
  font-size 1.2rem
  line-height 1.85em
  padding-bottom 40px
  //animation fade-in 1s 3s cubic-bezier(0.860, 0.000, 0.070, 1.000) both
  position relative
  overflow hidden
  .wrap
    position relative
    .handle-wrapper
      position absolute
      top 0
      left 0
      width 100%
    button
      position absolute
      top 1px
      right 1px
      border-radius: 0
      border: none
      background-color hsl(0, 0%, 90%)
      padding 0
      width 15px
      width 15px

  .fade-pane
    position: absolute;
    width: 140%
    background-image: linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, white 30%)
    height: 1000px
    top: 0
    right: 0
    transform translate3d(0px, 0px, 0px)
    transition 2.5s 1s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    z-index 9
    &.in
      transform translate3d(1000px, 0px, 0)

  article
    clearfix()
    margin-bottom: 100px

    &:last-child
      margin-bottom: 0

  header
    padding-bottom 0px
    margin-bottom 10px

    h2
      margin-left: 21.2%
      display inline-block
      //border-bottom 1px dotted hsla(0, 0%, 0%, .5)
      a
        color black

    .ornament
      margin-top 30px
      margin-bottom 20px

  aside.meta
    width: 19.4%
    float: left

    time
      font-family monoco, monospace
      color hsl(45, 9%, 50%)
      letter-spacing -0.08em
      word-spacing: -.4em
      font-size 1.0rem

  .article-container
    width: 77.3%
    float: left
    padding-left 10px

  .body-text
    border-bottom 1px dotted hsla(0, 0%, 0%, .5)
    padding-bottom: 30px
    ul
      padding-left 40px
      margin-top: 10px
      margin-bottom: 20px


    p
      margin-top 0
    
    a
      color: hsl(200, 100%, 50%)
      font-weight bold

    p.read-more
      margin-top 30px
      a
        display: inline-block
        padding: 5px 10px
        margin-left: -3px
        background: hsl(0, 0%, 95%)
        text-transform: uppercase
        font-weight: bold
        border: 1px solid hsl(0, 0%, 90%)
        transition .2s
        color: black
        &::after
          content: '☞'
          padding-left: 10px
        &:hover
          background: hsl(0, 0%, 105%)
          color: hsl(0, 0%, 40%)
          text-shadow: 0 1px 0px white
  
  footer
    padding-top: 30px
    padding-bottom: 30px
    text-align center
    //background: url('../images/bg.gif')
    border-bottom 1px dotted hsla(0, 0%, 0%, .5)

  code
    background-color: hsla(0, 0%, 97%, .5)
    border: 1px solid hsl(0, 0%, 85%)
    line-height: 19px
    overflow: auto
    padding: 2px 6px
    border-radius: 3px

  pre
    margin:1em 0;
    font-size: 1em;
    background-color: hsla(0, 0%, 100%, .3);
    border:1px solid #ddd;
    padding:5px;
    line-height: 1.4em
    color:#444;
    overflow: auto

    code
      padding: 0
      background-color: transparent
      border: none

  a
    text-decoration: none
  
  h3
    font-size 1.3rem
    margin-bottom: 5px
    margin-top: 0

  blockquote
    font-style italic
    margin: 1em 40px
    border-left: 10px solid hsl(45, 4%, 75%)
    padding: .1em 40px
    margin: 0

#main-footer
  color: hsl(0, 0%, 60%)
  margin-left: 120px
  padding-bottom 10px
  margin-bottom 60px
  small
    opacity 1
    line-height 2em
    font-size .9rem
  a
    color hsl(0, 0%, 70%)
    
body.article,
body.colophone,
body.archive,
body.four-oh-four
  
  #top-header
    animation pull-down .5s .25s both cubic-bezier(0.860, 0.000, 0.070, 1.000)
    opacity 1

  #content
    animation-delay: .3s
    .fade-pane
      transition-duration 1.5s
      transition-delay 0s

  small
    opacity .5
    font-size 1.0rem

body.four-oh-four
  background: hsl(200, 100%, 50%)

  #top-header
    background hsl(200, 100%, 50%)
    border-color: white
    box-shadow none

    svg *
      fill white
    h3
      color white

  #content
    animation-delay: .3s
    .fade-pane
      background-image: linear-gradient(left, hsla(200, 100%, 50%, 0) 0%, hsla(200, 100%, 50%, 1) 30%)
      transition-duration 1.5s
      transition-delay 0s
  h1
    margin-left 120px
    font-size 4rem
    color: transparent
    text-shadow: 0 0 23px white
    display: inline-block
    line-height: 2em
    transition 2s cubic-bezier(0.860, 0.000, 0.070, 1.000)

  .mobile-logo
    display none

.no-touch, .touch
  .four-oh-four
    h1
      text-shadow: 0 0 0px white
  

body.colophone
  section
    clearfix()
    margin-bottom 50px
  h5
    margin: 0
    width: 19.4%
    float: left
    font-family monoco, monospace
    color hsl(45, 9%, 50%)
    letter-spacing -0.08em
    word-spacing: -.4em
    font-size 1.0rem
    font-weight normal
    text-align right
    padding-right 30px
    box-sizing border-box


  .right
    width: 77.3%
    float: left
    p
      margin-top 0
    

.social
  opacity 0
  transition opacity .4s .3s
  li
    margin-left: 15px
    margin-right: 15px
    transform scale(.1)
    height: 30px
    animation-name scale-away
    animation-duration .4s
    animation-fill-mode both
    backface-visibility: hidden
    &:hover
      .tooltip
        opacity 1
  .g
    width 32px
    animation-delay .2s
  .t
    width 57px
    animation-delay .1s
  .f
    width: 48px

    animation-delay 0s

.share
  display inline-block
  margin-top 0px
  font-family: monoco, monospace
  font-weight: normal
  position relative

  .seduce-text
    position absolute
    top 21px
    left 140px
    color hsl(44, 9%, 50%)
    opacity 1
    transition opacity .5s cubic-bezier(0.860, 0.000, 0.070, 1.000)
    transition-delay .40s
    font-size 1.0rem

    &::after, &::before
      content ''
      position absolute
      top: 50%
      display block
      height 1px
      width: 35px
      border-top 1px dotted hsl(44, 9%, 50%)
      left: -40px

    &::after
      right -40px
      left: auto

  .social
    margin-left: -5px
    padding-left: 0px
    display: block
    width: 227px
    float: left
    margin-top: 23px
    margin-bottom: 0
    li
      list-style: none
      display: inline-block
      float: left
      &:hover
        .tooltip
          opacity 1
          transform translate3d(0, 0, 0)

      .socialised
        overflow: hidden

      .tooltip 
        position: absolute
        top: -35px
        text-align: center
        width: 100%
        transform: translate3d(0, 15px, 0)
        z-index -1
        opacity: 0
        transition: .25s cubic-bezier(0.860, 0.000, 0.070, 1.000)
        background-color white
        
        span
          width: 33px
          display: inline-block
          line-height: 1.8em
          box-sizing: border-box
          text-align: center
          background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAABEElEQVR42s2Wy2qEMBSG8yIdn6p9XHURwWtduNBI0ZUuHHDwfjft70BLl9MyiQc+jBH9v3PchKRpenEc56aqKgeapgkBmUmSKAQLy7J4Xdd82za+7/vTqaqKG4ZxSBDYYAMPRFKWJUf2IbCuK7oXyrIs3wLYkMGvCcjgPAL4HzI4kcA8zzI4kcA0TTL4ERjHUQYnEhiGQQYnEuj7Xjht294FcAi5Xq/CBbIs48gmlmXdKKU8z3PeNA3vuu6poHOEIxPZhDGmYPHIcco0TUzt+GBRFFzXdXTzEMiM4/iF/KXwsuu6x0nKtu17JyIrDMM3TCIIAo7r1/0rEV2e530g3Pf9dyKjoihSKKULY+xC/lGfvSm5sOFs9ksAAAAASUVORK5CYII=")
          background-repeat no-repeat
          background-position center 2px
          position relative
          padding-bottom 2px
          color hsl(0, 0%, 40%)

  svg
    width: 98 * 1.2 px
    height: 50 * 1.2 px
    display: block
    float left
    margin-left -110px
    display: block
    float: left
    margin-left: -30px
    path
      animation-duration: 1s
      animation-timing-function: ease
      animation-iteration-count: infinite
      animation-direction: alternate
      animation-fill-mode: both
      transform: translate3d(0, 0, 0)
      transition: fill .4s
      fill hsl(43, 7%, 60%)

  &:hover, &.on
    .seduce-text
      opacity 0
      transition-delay 0s

    path
      fill: hsl(223, 44%, 54%)
    
    g
      animation fade-out 2s infinite

      path
        fill: hsl(223, 44%, 40%)

      path:nth-of-type(1)
        animation-name further-right

      path:nth-of-type(2)
        animation-name inner-right

      path:nth-of-type(3)
        animation-name inner-left

      path:nth-of-type(4)
        animation-name further-left


    .social
      opacity 1
      li
        animation-fill-mode forwards
        animation-name scale-up
        animation-iteration-count 1
        animation-duration .4s
      .g
        animation-delay .2s
      .t
        animation-delay .3s
      .f
        animation-delay .4s


img, object, embed
  max-width: 100%;
  height: auto;
  /*max-height: 370px;
  display: block;
  float: left;
  margin-right: 20px;*/
  margin-top: 20px
  margin-bottom: 20px

img
  -ms-interpolation-mode: bicubic

// Kills google plus
div[style*="2000000"]
  display none

@keyframes scale-up
  0%
    transform scale(.1)
    //opacity 0
  90%
    transform scale(1.03)
  100%
   transform scale(1)

@keyframes scale-away
  0%
    transform scale(1)
  30%
    transform scale(.93)
    opacity 1
  100%
    transform scale(1.5)
    opacity 0
    

@keyframes scale-pop
  0%
    transform scale(1)
  75%
    transform scale(1)
  80%
    transform scale(.95)
  90%
    transform scale(1.1)
  100%
    transform scale(1)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fade-from-left
  0%
    transform translate3d(0, 0, 0)
  100%
    transform translate3d(400px, 0, 0)

@keyframes fade-out
  0%
    opacity: 0
  15%
    opacity: 1
  
  80%
    opacity: 0
  100%
    opacity: 0

@keyframes fade-scale-out
  0%
    opacity: 0
    transform: scale(1)
  15%
    opacity: 1
    transform: scale(1)
  
  80%
    opacity: 0
  100%
    opacity: 0
    transform: scale(.1)
    

@keyframes further-right
  0%
    transform: translate3d(0, 0, 0 )
  
  100%
    transform: translate3d(350px, 0, 0)

  
@keyframes inner-right
  10%
    transform: translate3d(-10px, 0, 0 )
  
  100%
    transform: translate3d(150px, 0, 0)

  
@keyframes inner-left
  10%
    transform: translate3d(10px, 0, 0 )
  
  100%
    transform: translate3d(-150px, 0, 0)

  
@keyframes further-left
  0%
    transform: translate3d(0, 0, 0 )
  
  100%
    transform: translate3d(-350px, 0, 0)

@keyframes intro
  0%
    transform calcRotation(-1, logo-radius, true)
  60%
    transform calcRotation(.05, logo-radius, true)
    animation-timing-function ease-in-out
  100%
    transform calcRotation(0, logo-radius, true)


@keyframes intro-path
  0%
    transform rotate(45deg) translate3d(0, -40px, 0) scale(1, 20)

  40%
    opacity: 0
  50%
    transform rotate(0deg) scale(1, 20) translate3d(0, -39px, 0)
    opacity: 0
  60%
    opacity: 1
    transform rotate(0deg) scale(.1, .1) translate3d(0, 0px, 0)
    transform-origin 50% 50%
  100%
    opacity: 1
    transform rotate(0deg) scale(1, 1) translate3d(0, 0px, 0)

@keyframes pull-down
  0%
    transform translate3d(0, -35px, 0)
  80%
    transform translate3d(0, 3px, 0)
  100%
    transform translate3d(0, 0px, 0)

@keyframes pull-up
  0%
    transform translate3d(0, 0px, 0)

  40%
    transform translate3d(0, 3px, 0)
  100%
    transform translate3d(0, -35px, 0)

@keyframes slide-up
  0%
    transform translate3d(0, 0px, 0)
  40%
    transform translate3d(0, 5px, 0)
  100%
    transform translate3d(0, -500px, 0)

@keyframes fade-scale-up
  0%
    transform scale(0.96)
    opacity 0
  20%
    opacity 0
  100%
    transform scale(1)
    opacity 1
