div.ornament.
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="155.858px" height="43.458px" viewBox="0 0 155.858 43.458" enable-background="new 0 0 155.858 43.458" space="preserve">
  <polygon fill-rule="evenodd" clip-rule="evenodd" points="82.25,19.162 81.386,18.8 80.522,18.439 79.658,18.078 78.793,17.716 
    77.928,17.354 77.136,16.993 76.272,16.631 75.48,16.27 73.391,15.33 71.303,14.462 69.07,13.522 66.837,12.582 64.604,11.642 
    62.3,10.774 59.923,9.834 57.546,9.039 55.242,8.171 52.865,7.375 50.488,6.652 48.111,6.001 45.807,5.351 43.502,4.845 
    41.269,4.338 39.036,3.905 36.875,3.615 34.787,3.398 32.771,3.254 30.826,3.182 28.953,3.254 27.225,3.471 25.568,3.76 
    23.983,4.194 22.615,4.845 21.319,5.496 20.094,6.363 19.086,7.448 18.222,8.605 17.501,9.979 16.998,11.497 16.637,13.16 
    16.493,15.041 16.637,16.776 16.998,18.367 17.574,19.885 18.294,21.259 19.23,22.488 20.238,23.646 21.391,24.657 22.039,25.164 
    22.615,25.598 23.191,26.031 23.839,26.466 24.488,26.899 25.208,27.188 25.928,27.55 26.72,27.767 27.801,28.273 28.881,28.707 
    30.105,28.924 31.33,29.141 32.554,29.141 33.779,29.141 35.003,28.996 36.083,28.707 37.092,28.346 37.956,27.839 38.748,27.333 
    39.324,26.61 39.685,25.887 39.829,25.02 39.685,24.079 39.324,23.066 38.028,23.139 37.092,22.922 36.587,22.416 36.372,21.766 
    36.443,21.042 36.731,20.319 37.164,19.741 37.74,19.379 38.316,19.09 39.036,19.018 39.756,19.162 40.477,19.451 41.125,20.03 
    41.629,20.825 41.917,21.838 41.917,23.066 41.773,23.935 41.629,24.803 41.341,25.67 40.981,26.466 40.549,27.188 40.044,27.911 
    39.468,28.562 38.748,29.141 37.884,29.575 36.948,30.009 35.867,30.298 34.715,30.442 33.347,30.515 31.906,30.37 30.322,30.153 
    28.521,29.792 26.432,29.141 24.416,28.129 22.471,26.972 20.67,25.525 19.014,24.007 17.574,22.199 16.349,20.392 15.413,18.439 
    14.692,16.414 14.333,14.462 14.333,12.437 14.692,10.485 15.485,8.533 16.709,6.797 18.438,5.134 20.67,3.615 22.111,2.892 
    23.551,2.242 25.064,1.663 26.576,1.157 28.161,0.795 29.817,0.506 31.474,0.289 33.203,0.072 35.003,0 36.804,0 38.604,0.145 
    40.477,0.289 42.421,0.506 44.438,0.723 46.455,1.084 48.471,1.519 50.56,2.024 52.721,2.531 54.954,3.109 57.186,3.76 
    59.419,4.483 61.795,5.206 64.172,6.001 66.549,6.869 68.998,7.81 71.519,8.75 74.04,9.762 76.632,10.774 79.297,11.859 
    81.962,12.943 84.699,14.101 87.436,15.257 82.25,19.162 "></polygon>
  <polygon fill-rule="evenodd" clip-rule="evenodd" points="82.25,19.162 84.195,19.958 86.139,20.681 88.156,21.403 90.1,22.127 
    92.118,22.85 94.062,23.501 96.079,24.079 98.023,24.657 99.967,25.236 101.913,25.742 103.857,26.248 105.73,26.683 
    107.602,27.044 109.403,27.405 111.204,27.694 113.003,27.911 114.732,28.129 116.389,28.273 118.045,28.346 119.63,28.346 
    121.142,28.273 122.655,28.201 124.023,27.984 125.392,27.767 126.688,27.405 127.913,27.044 128.993,26.61 130.074,26.031 
    131.009,25.453 131.874,24.729 132.667,23.935 133.386,23.066 135.042,19.958 135.763,17.065 135.619,14.39 134.827,11.859 
    133.531,9.689 131.946,7.81 130.074,6.219 128.273,5.062 125.68,3.833 123.015,2.82 120.278,2.169 117.542,1.808 114.804,1.663 
    111.996,1.808 109.115,2.097 106.306,2.675 103.424,3.398 100.543,4.338 97.663,5.423 94.71,6.652 91.83,7.954 88.948,9.4 
    86.139,10.991 83.258,12.582 82.106,13.232 80.954,13.956 79.729,14.679 78.505,15.402 77.208,16.197 75.913,16.92 74.616,17.716 
    73.319,18.511 71.951,19.307 70.583,20.102 69.142,20.97 67.702,21.766 66.261,22.561 64.82,23.356 63.38,24.151 61.868,24.947 
    63.884,25.67 66.405,24.296 68.998,22.85 71.591,21.476 74.184,20.102 76.848,18.728 79.441,17.354 82.106,16.053 84.699,14.751 
    87.364,13.522 89.957,12.292 92.549,11.208 95.142,10.124 97.663,9.111 100.184,8.171 102.632,7.375 105.082,6.58 107.458,5.929 
    109.763,5.423 111.996,4.989 114.156,4.7 116.245,4.483 118.261,4.483 120.207,4.556 122.079,4.772 123.807,5.206 125.463,5.785 
    126.976,6.508 128.417,7.448 129.713,8.533 130.866,9.834 131.874,11.353 132.81,13.016 133.602,15.257 133.674,17.282 
    133.17,19.018 132.09,20.464 130.505,21.693 128.633,22.705 126.328,23.429 123.807,24.007 120.999,24.296 118.118,24.44 
    115.237,24.44 112.284,24.151 109.403,23.79 106.666,23.212 104.073,22.488 101.84,21.621 100.904,21.187 99.967,20.753 
    99.032,20.392 98.167,19.958 97.231,19.523 96.294,19.162 95.43,18.728 94.494,18.367 93.629,17.933 92.694,17.571 91.83,17.209 
    90.965,16.776 90.029,16.414 89.165,16.053 88.3,15.619 87.436,15.257 82.25,19.162 "></polygon>
  <polygon fill-rule="evenodd" clip-rule="evenodd" points="61.868,24.947 59.563,26.104 57.258,27.261 54.954,28.346 52.577,29.357 
    50.2,30.37 47.823,31.383 45.375,32.25 42.926,33.046 40.477,33.841 38.028,34.492 35.579,35.07 33.13,35.504 30.682,35.865 
    28.233,36.155 25.784,36.3 23.407,36.3 21.391,36.228 19.374,36.011 17.43,35.793 15.485,35.432 13.54,35.07 11.74,34.492 
    10.011,33.913 8.427,33.19 6.914,32.322 5.618,31.383 4.465,30.37 3.457,29.141 2.737,27.839 2.161,26.394 1.873,24.803 
    1.873,23.066 2.088,21.621 2.593,20.247 3.313,18.945 4.25,17.788 5.33,16.704 6.626,15.691 7.995,14.823 9.579,14.101 
    11.235,13.45 12.964,12.871 14.692,12.437 16.493,12.148 18.366,11.931 20.167,11.859 21.967,11.931 23.695,12.076 25.856,12.365 
    27.945,12.727 30.034,13.088 32.05,13.522 34.067,13.956 36.083,14.39 38.028,14.896 39.973,15.402 41.845,15.98 43.718,16.559 
    45.59,17.137 47.391,17.716 49.264,18.367 51.064,18.945 52.865,19.668 54.666,20.319 56.466,20.97 58.194,21.693 59.995,22.416 
    61.795,23.139 63.596,23.862 65.397,24.657 67.197,25.381 68.998,26.176 70.798,26.899 72.599,27.694 74.472,28.49 76.344,29.285 
    78.217,30.081 80.162,30.804 82.106,31.6 84.05,32.395 84.771,32.684 85.419,32.901 86.139,33.19 86.86,33.479 87.58,33.696 
    88.3,33.985 89.092,34.202 89.812,34.42 90.605,34.709 91.325,34.926 92.118,35.143 92.91,35.432 93.702,35.648 94.494,35.865 
    95.287,36.083 96.079,36.3 98.599,31.961 97.663,31.672 96.798,31.383 95.934,31.021 95.07,30.731 94.206,30.37 93.341,30.081 
    92.549,29.72 91.757,29.43 89.02,28.201 86.211,26.972 83.186,25.742 80.162,24.44 76.92,23.139 73.679,21.838 70.294,20.536 
    66.909,19.307 63.452,18.078 59.995,16.848 56.466,15.691 52.937,14.606 49.408,13.594 45.951,12.654 42.494,11.859 39.036,11.063 
    35.651,10.485 32.338,9.979 29.169,9.617 26.072,9.4 23.047,9.328 20.167,9.4 17.357,9.689 14.765,10.124 12.316,10.774 
    10.083,11.642 7.995,12.727 6.122,13.956 4.394,15.546 2.953,17.282 1.729,19.307 0.792,21.621 0.288,23.429 0,25.164 0,26.827 
    0.216,28.273 0.648,29.72 1.296,30.948 2.161,32.178 3.241,33.19 4.465,34.13 5.906,34.998 7.49,35.721 9.219,36.372 11.091,36.878 
    13.108,37.312 15.269,37.602 17.501,37.818 19.806,37.963 22.255,37.963 24.776,37.891 27.369,37.674 30.034,37.384 32.698,37.022 
    35.435,36.517 38.172,35.938 40.981,35.215 43.79,34.42 46.599,33.552 49.335,32.611 52.072,31.527 54.81,30.37 57.474,29.141 
    60.139,27.767 60.571,27.55 61.075,27.261 61.507,27.044 62.012,26.755 62.516,26.466 62.948,26.176 63.452,25.959 63.884,25.67 
    61.868,24.947 "></polygon>
  <polygon fill-rule="evenodd" clip-rule="evenodd" points="96.079,36.3 98.023,36.806 99.967,37.312 101.984,37.746 104.001,38.18 
    106.018,38.613 108.106,38.975 110.195,39.265 112.211,39.626 114.3,39.915 116.389,40.132 118.406,40.349 120.495,40.493 
    122.511,40.639 124.528,40.711 126.544,40.783 128.489,40.783 130.433,40.711 132.306,40.639 134.178,40.493 135.979,40.349 
    137.78,40.06 139.508,39.771 141.165,39.409 142.75,39.048 144.262,38.541 145.774,38.035 147.143,37.457 148.439,36.806 
    149.664,36.083 150.816,35.287 151.896,34.492 152.832,33.552 153.84,32.322 154.705,31.021 155.281,29.647 155.713,28.201 
    155.857,26.683 155.785,25.236 155.57,23.718 155.064,22.271 154.418,20.897 153.48,19.596 152.4,18.367 151.104,17.282 
    149.591,16.342 147.863,15.474 145.991,14.896 143.83,14.462 140.805,14.101 137.923,13.883 135.042,13.883 132.306,13.956 
    129.569,14.173 126.976,14.534 124.456,15.041 121.935,15.546 119.558,16.27 117.181,16.993 114.876,17.86 112.644,18.728 
    110.411,19.668 108.25,20.681 106.162,21.693 104.073,22.777 102.993,23.356 101.84,24.007 100.616,24.657 99.248,25.453 
    97.807,26.248 96.367,27.044 94.782,27.911 93.125,28.779 91.469,29.72 89.668,30.587 87.868,31.527 85.996,32.395 84.123,33.335 
    82.106,34.202 80.089,35.07 78.073,35.938 75.984,36.733 73.823,37.529 71.663,38.252 69.502,38.902 67.27,39.481 65.037,40.06 
    62.804,40.493 60.571,40.855 58.338,41.217 56.034,41.434 53.801,41.506 51.496,41.506 49.264,41.434 47.031,41.145 44.798,40.855 
    42.565,40.349 41.989,39.409 41.413,38.686 40.765,38.18 40.117,37.818 39.541,37.746 38.964,37.746 38.46,37.963 38.028,38.396 
    37.74,38.902 37.74,39.481 37.884,40.06 38.172,40.639 38.604,41.217 39.108,41.65 39.685,42.012 40.189,42.302 41.125,42.591 
    42.206,42.88 43.286,43.097 44.51,43.241 45.734,43.386 47.103,43.458 48.471,43.458 49.912,43.458 51.424,43.386 53.009,43.241 
    54.593,43.097 56.322,42.88 57.979,42.591 59.779,42.229 61.58,41.867 63.452,41.434 65.325,41 67.27,40.493 69.214,39.915 
    71.23,39.337 73.247,38.686 75.264,37.963 77.352,37.239 79.441,36.372 81.53,35.576 83.619,34.637 85.779,33.696 87.868,32.684 
    90.029,31.672 92.189,30.587 94.35,29.43 96.51,28.273 98.671,27.116 100.904,25.959 103.208,24.875 105.513,23.862 107.89,22.922 
    110.267,22.055 112.644,21.187 115.02,20.464 117.397,19.741 119.774,19.162 122.151,18.583 124.456,18.078 126.76,17.716 
    128.993,17.354 131.226,17.065 133.314,16.92 135.403,16.848 137.419,16.776 139.364,16.848 141.237,16.993 142.965,17.282 
    144.622,17.571 146.134,18.005 147.575,18.511 148.872,19.09 150.024,19.741 151.032,20.536 151.896,21.403 152.617,22.416 
    153.121,23.501 153.48,24.657 153.697,25.959 153.697,27.044 153.48,28.129 153.121,29.141 152.545,30.009 151.824,30.876 
    150.888,31.672 149.807,32.395 148.655,33.118 147.287,33.696 145.846,34.274 144.262,34.709 142.605,35.143 140.805,35.504 
    138.86,35.793 136.916,36.083 134.899,36.228 132.738,36.372 130.578,36.444 128.344,36.517 126.112,36.444 123.807,36.372 
    121.43,36.228 119.125,36.011 116.75,35.793 114.373,35.504 112.068,35.143 109.691,34.709 107.386,34.274 105.154,33.769 
    102.92,33.19 100.688,32.611 98.599,31.961 96.079,36.3 "></polygon>
  </svg>
